.vs/
ComponentToggle_old/Output/
ComponentToggle_old/obj/
ComponentToggle_old/bin/
.git/
ComponentToggle_old/Utilities/WebAdded/
.idea/
ComponentToggleExtended/obj/
ComponentToggleExtended/Output/
ComponentToggleExtended/bin/
ComponentToggle.json